# Node modules
node_modules/
client/node_modules/
server/node_modules/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env
server/.env
client/.env

# Vite / build
dist/
client/dist/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Images locales
server/public/images/

# Js Script
server/uploadToCloudinary.js

#scripts
server/scripts